@import "partials/grid";
@import "partials/header";
@import "partials/main";
@import "partials/aside";
@import "partials/section";
@import "partials/footer";
@import "partials/estilos";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(90deg, $greenDark, $greenLime);
}
