$greenDark: #1b676b; /*variables de colores*/
$greenBase: #519548;
$greenLime: #88c425;
$greenGrellow: #bef202;
$greenWhite: #eafde6;

$headings: (/*mapa de headings*/ h1: 40px, h2: 30px, h3: 20px, h4: 16px);

@each $heading, $size in $headings {
  #{$heading} {
    font-size: $size;
    color: $greenWhite;
    font-family: "Dancing Script", cursive;
  }
}
/*todos los H */
h1 {
  text-align: center;
  animation-duration: 4s;
  animation-name: aparecer;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
h4 {
  text-decoration: none;
}
/* seccion header= igual para todas las seciones*/
header {
  h1 {
    letter-spacing: 3px;
    padding-left: 15px;
  }
  .logo {
    border-radius: 50%;
    border: solid 2px $greenGrellow;
    max-width: 150px;
  }
  a {
    border: solid 3px $greenGrellow;
  }
  a:hover {
    background-color: $greenDark;
  }
  #social {
    a {
      border: none;
      margin-left: 20px;
    }
  }
}

/*seccion main index= contenedor Principal-izquerda*/
.contenedor__main {
  video {
    border-radius: 5px;
    border: solid 2px $greenGrellow;
  }
  li {
    font-size: 2 em;
    list-style-image: url(../imagenes/blanco.png);
    list-style-position: inside;
    text-decoration: underline;
    a {
      text-decoration: none;
      color: $greenWhite;
      font-size: 20px;
    }
  }
}
/* seccion aside index= contenido Principal-derecha*/
.contenedor__aside {
  text-transform: capitalize;
  h3 {
    border-style: dotted;
    border-color: $greenWhite;
    text-align: center;
  }
  h2 {
    font-size: 4 em;
    border: solid;
    background-color: $greenBase;
  }
  ul {
    list-style: none;
    border: groove;
    li {
      font-size: 20px;
      a {
        text-decoration: none;
        color: $greenDark;
        padding-left: 10px;
      }
    }
  }
  img {
    border: 4px solid $greenGrellow;
  }
  .contenedor__aside--color {
    background-color: $greenWhite;
    color: $greenDark;
    margin-bottom: 16px;
  }
}
.animacionPrincipal {
  animation-name: un_efecto;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 5s;
  animation-delay: 2s;
}

@keyframes un_efecto {
  0% {
    width: 200px;
  }
  25% {
    width: 250px;
  }
  50% {
    width: 200px;
    background-color: $greenLime;
  }
  75% {
    width: 250px;
  }
  100% {
    width: 200px;
    background-color: $greenBase;
  }
}
.contenedor__main--parrafo {
  color: $greenWhite;
  font-size: 20px;
  text-align: center;
  align-content: center;
  background-image: linear-gradient(to top, $greenGrellow, $greenBase);
}
/* seccion secundario index= contenedor Principal*/
.contenedor__section2 {
  border: double 10px #5b9201;
}
/* seccion main= contenedor secundario*/
.contenedor2__main--parrafo {
  @extend.contenedor__main--parrafo;
  background-image: none;
  background-color: $greenLime;
  border: dotted 3px $greenDark;
  margin-top: 20px;
}

table {
  background-color: $greenLime;
  font-size: 16px;
  text-align: center;
  border: solid 5px green;
  @media only screen and (min-width: 768px) {
    font-size: 20px;
  }
  th {
    color: $greenDark;
  }
  tr {
    color: $greenWhite;
  }
  td {
    color: $greenWhite;
  }
  ul {
    li {
      color: $greenWhite;
    }
  }
}

.contenedor__main--recetas {
  /*seccion main recetas= contenedor secundario*/

  border: double 6px $greenGrellow;
}
.contenedor__main--button-l {
  a {
    color: $greenWhite;
    border-top: solid 5px $greenDark;
    border-right: solid 10px $greenDark;
    border-bottom: solid 7px $greenDark;
    border-left: solid 12px $greenDark;
  }
  a:hover {
    color: $greenGrellow;
  }
}
.contenedor2__main--parrafoReceta {
  background-color: #519548;
  color: #eafde6;
  border: dotted 6px $greenGrellow;
  h2 {
    margin-bottom: 20px;
    text-decoration: underline;
  }
}
.contenedor2__main--estiloReceta {
  text-align: start;
  margin: 10px;
  font-size: 20px;
  background-color: $greenGrellow;
  border: solid 3px $greenDark;
  color: $greenWhite;
}
.contenedor__main--recetas2 {
  border: solid 3px $greenGrellow;
  font-size: 30px;
  li {
    list-style: none;
    margin: 10px;
  }
  a {
    font-size: 20px;
    color: $greenGrellow;
    padding-right: 10px;
  }
}

.contenedor2__main--fieldset {
  /*seccion main ayuda= contenedor secundario*/
  padding: 5;
  color: $greenWhite;
  font-size: 15px;
  text-align: left;
  text-transform: capitalize;
  border: solid 2px $greenDark;
  form {
    padding: 10px;
    border: solid 3px $greenGrellow;
  }
  input {

    transition: all 2s;
    background-color: $greenLime;
    padding-bottom: 5px;
  }
  input:focus {
    background-color: $greenWhite;
  }
  
  select {
    border: solid 5px $greenWhite;
  }
  legend {
    font-size: 30px;
  }
}

/* seccion FOOTER= igual para todas las seciones*/
footer {
  grid-area: footer;
  color: $greenWhite;
  background-color: $greenDark;
  div {
    h4 {
      @media only screen and (min-width: 768px) {
        /*Solo en tablet en adelante*/
        padding-bottom: 10px;
      }
      @media only screen and (min-width: 1024px) {
        font-size: 20px;
      }
    }
    input {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border-color: $greenLime;
    }
    textarea {
      border-radius: 5px;
      width: 200px;
    }
    iframe {
      border-radius: 5px;
      width: 200px;
    }
    ul {
      list-style: none;
      padding: 0px;
      li {
        margin-bottom: 10px;
        a {
          margin: 5px;
          color: $greenGrellow;
        }
        a:hover {
          color: $greenWhite;
        }
      }
    }
  }
}
