/*seccion main index= contenido Principal-Izquierda*/
.contenedor__main {
  grid-area: main;
  overflow: hidden;
  align-content: center;
  margin: 5px;
  video {
    width: 100%;
  }
  li {
    justify-content: center;
    height: 60px;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  /*Laptop*/
  .contenedor__main {
    margin: 15px;
  }
}

.contenedor2__main--productos {
  /*seccion main productos= contenedor secundario*/
  grid-area: main;
}

.contenedor2__main--suplementos {
  /*seccion main suplementos= contenedor secundario*/
  grid-area: main;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}

.contenedor2__main--destacadosParrafo {
  /*parrafo contenedor secundario*/
  margin: 25px;
}

.contenedor__main--recetas {
  /*seccion main recetas= contenedor secundario*/

  margin: auto;
  width: 80%;
  @media only screen and (min-width: 768px) {
    width: 65%;
  }
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.contenedor__main--recetas2 {
  @media only screen and (min-width: 768px) {
    width: 50%;
  }
  text-align: start;
}

.contenedor__main--recetas3 {
  text-align: start;
}

.contenedor__main--button-l {
  font-size: 30px;
  margin: 30px;
  text-align: center;
}

.contenedor2__main--parrafoReceta {
  margin: 20px;
  font-size: 20px;
}

.contenedor2_main--ayuda {
  grid-area: main;
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }
}
.contenedor2__main--fieldset {
  /*seccion main ayuda= contenedor secundario*/
  margin: 10px;
  @media only screen and (min-width: 768px) {
    width: 50%;
  }
  form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  textarea {
    width: 200px;
    height: 100px;
    margin: 5px;
  }
  input {
    width: 200px;
    height: 30px;
  }

  #suscribite {
    height: 20px;
    width: 20px;
  }
  select {
    width: 150px;
    margin: 10px;
  }
  legend {
    margin-bottom: 10px;
  }
}
